<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css"/>
    </head>
    <body>
        <nav class="nav">
          <div class="nav-left">
            <a class="nav-item">
              <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
            </a>
          </div>
        
          <div class="nav-center">
            <a class="nav-item">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
            </a>
            <a class="nav-item">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
            </a>
          </div>
        
          <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
          <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
        
          <!-- This "nav-menu" is hidden on mobile -->
          <!-- Add the modifier "is-active" to display it on mobile -->
          <div class="nav-right nav-menu">
            <a class="nav-item">
              Home
            </a>
            <a class="nav-item">
              Documentation
            </a>
            <a class="nav-item">
              Blog
            </a>
        
            <span class="nav-item">
              <a class="button" >
                <span class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
                <span>Tweet</span>
              </a>
              <a class="button is-primary">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span>Download</span>
              </a>
            </span>
          </div>
        </nav>
        <!-- Main container -->
        <nav class="level">
          <!-- Left side -->
          <div class="level-left">
            <div class="level-item">
              <p class="subtitle is-5">
                <strong>123</strong> posts
              </p>
            </div>
            <div class="level-item">
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="text" placeholder="Find a post">
                </p>
                <p class="control">
                  <button class="button">
                    Search
                  </button>
                </p>
              </div>
            </div>
          </div>
        
          <!-- Right side -->
          <div class="level-right">
            <p class="level-item"><strong>All</strong></p>
            <p class="level-item"><a>Published</a></p>
            <p class="level-item"><a>Drafts</a></p>
            <p class="level-item"><a>Deleted</a></p>
            <p class="level-item"><a class="button is-success">New</a></p>
          </div>
        </nav>

     <body>
         
       <section class="section notification is-fluid>
         <div class="container noti">
                <div class="columns ">
                        
                        <div class="column is-10">
                                <section class="hero is-primary">
                                  <div class="hero-body">
                                    <div class="container">
                                      <h1 class="title">
                                        Hero title
                                      </h1>
                                      <h2 class="subtitle">
                                        Hero subtitle
                                      </h2>
                                    </div>
                                  </div>
                                </section>
                                
                                <h1 class="title"  style="margin-top:10px;">NEW SALE </h1>
                                <div class="columns">
                                        <div class="column">
                                                        <div class="card">
                                                          <div class="card-image">
                                                            <figure class="image is-4by3">
                                                              <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                                                            </figure>
                                                          </div>
                                                          
                                                            <div class="content">
                                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                                              <a>#css</a> <a>#responsive</a>
                                                              <br>
                                                              <small>11:09 PM - 1 Jan 2016</small>
                                                            </div>
                                                          </div>
                                                        
                                        </div>
                                        <div class="column">
                                                <div class="card">
                                                        <div class="card-image">
                                                          <figure class="image is-4by3">
                                                            <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                                                          </figure>
                                                        </div>
                                                        
                                                          <div class="content">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                                            <a>#css</a> <a>#responsive</a>
                                                            <br>
                                                            <small>11:09 PM - 1 Jan 2016</small>
                                                          </div>
                                                        </div>
                                                      


                                        </div>
                                        <div class="column">
                                                <div class="card">
                                                        <div class="card-image">
                                                          <figure class="image is-4by3">
                                                            <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                                                          </figure>
                                                        </div>
                                                        
                                                          <div class="content">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                                            <a>#css</a> <a>#responsive</a>
                                                            <br>
                                                            <small>11:09 PM - 1 Jan 2016</small>
                                                          </div>
                                                        </div>
                                                      

                                      </div>
                                        <div class="column">
                                                <div class="card">
                                                        <div class="card-image">
                                                          <figure class="image is-4by3">
                                                            <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                                                          </figure>
                                                        </div>
                                                        
                                                          <div class="content">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                                            <a>#css</a> <a>#responsive</a>
                                                            <br>
                                                            <small>11:09 PM - 1 Jan 2016</small>
                                                          </div>
                                                        </div>
                                                      

                                      </div>
                                      </div>
            
                                      
                                <h1 class="title"  style="margin-top:10px;">NEW SALE </h1>
                                <div class="columns">
                                        <div class="column">
                                                        <div class="card">
                                                          <div class="card-image">
                                                            <figure class="image is-4by3">
                                                              <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                                                            </figure>
                                                          </div>
                                                          
                                                            <div class="content">
                                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                                              <a>#css</a> <a>#responsive</a>
                                                              <br>
                                                              <small>11:09 PM - 1 Jan 2016</small>
                                                            </div>
                                                          </div>
                                                        
                                        </div>
                                        <div class="column">
                                                <div class="card">
                                                        <div class="card-image">
                                                          <figure class="image is-4by3">
                                                            <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                                                          </figure>
                                                        </div>
                                                        
                                                          <div class="content">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                                            <a>#css</a> <a>#responsive</a>
                                                            <br>
                                                            <small>11:09 PM - 1 Jan 2016</small>
                                                          </div>
                                                        </div>
                                                      


                                        </div>
                                        <div class="column">
                                                <div class="card">
                                                        <div class="card-image">
                                                          <figure class="image is-4by3">
                                                            <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                                                          </figure>
                                                        </div>
                                                        
                                                          <div class="content">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                                            <a>#css</a> <a>#responsive</a>
                                                            <br>
                                                            <small>11:09 PM - 1 Jan 2016</small>
                                                          </div>
                                                        </div>
                                                      

                                      </div>
                                        <div class="column">
                                                <div class="card">
                                                        <div class="card-image">
                                                          <figure class="image is-4by3">
                                                            <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                                                          </figure>
                                                        </div>
                                                        
                                                          <div class="content">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                                            <a>#css</a> <a>#responsive</a>
                                                            <br>
                                                            <small>11:09 PM - 1 Jan 2016</small>
                                                          </div>
                                                        </div>
                                                      

                                      </div>
                                      </div>
            
                                      <h1 class="title"  style="margin-top:10px;">NEW SALE </h1>
                                      <div class="columns">
                                              <div class="column">
                                                              <div class="card">
                                                                <div class="card-image">
                                                                  <figure class="image is-4by3">
                                                                    <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                                                                  </figure>
                                                                </div>
                                                                
                                                                  <div class="content">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                                                    <a>#css</a> <a>#responsive</a>
                                                                    <br>
                                                                    <small>11:09 PM - 1 Jan 2016</small>
                                                                  </div>
                                                                </div>
                                                              
                                              </div>
                                              <div class="column">
                                                      <div class="card">
                                                              <div class="card-image">
                                                                <figure class="image is-4by3">
                                                                  <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                                                                </figure>
                                                              </div>
                                                              
                                                                <div class="content">
                                                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                                                  <a>#css</a> <a>#responsive</a>
                                                                  <br>
                                                                  <small>11:09 PM - 1 Jan 2016</small>
                                                                </div>
                                                              </div>
                                                            
      
      
                                              </div>
                                              <div class="column">
                                                      <div class="card">
                                                              <div class="card-image">
                                                                <figure class="image is-4by3">
                                                                  <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                                                                </figure>
                                                              </div>
                                                              
                                                                <div class="content">
                                                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                                                  <a>#css</a> <a>#responsive</a>
                                                                  <br>
                                                                  <small>11:09 PM - 1 Jan 2016</small>
                                                                </div>
                                                              </div>
                                                            
      
                                            </div>
                                              <div class="column">
                                                      <div class="card">
                                                              <div class="card-image">
                                                                <figure class="image is-4by3">
                                                                  <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                                                                </figure>
                                                              </div>
                                                              
                                                                <div class="content">
                                                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                                                  <a>#css</a> <a>#responsive</a>
                                                                  <br>
                                                                  <small>11:09 PM - 1 Jan 2016</small>
                                                                </div>
                                                              </div>
                                                            
      
                                            </div>
                                            </div>
                  
                            </div>


                        <div class="column is-3">
                          Second column
                        </div>
                      </div>
       </section>
     </body>
    </body>
</html>