<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="nav">
          <div class="nav-left">
            <a class="nav-item">
              <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
            </a>
          </div>
        
          <div class="nav-center">
            <a class="nav-item">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
            </a>
            <a class="nav-item">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
            </a>
          </div>
        
          <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
          <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
        
          <!-- This "nav-menu" is hidden on mobile -->
          <!-- Add the modifier "is-active" to display it on mobile -->
          <div class="nav-right nav-menu">
            <a class="nav-item">
              Home
            </a>
            <a class="nav-item">
              Documentation
            </a>
            <a class="nav-item">
              Blog
            </a>
        
            <span class="nav-item">
              <a class="button" >
                <span class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
                <span>Tweet</span>
              </a>
              <a class="button is-primary">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span>Download</span>
              </a>
            </span>
          </div>
        </nav>

      <section class="hero">
            <nav class="level">
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Tweets</p>
                        <p class="title">3,456</p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Following</p>
                        <p class="title">123</p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Followers</p>
                        <p class="title">456K</p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Likes</p>
                        <p class="title">789</p>
                      </div>
                    </div>
                  </nav>
         <div class="hero-body">
          <div class="container-flud">
            <div class="columns">
                <div class="column is-2">
                    <aside class="menu">
                      <p class="menu-label">
                        General
                      </p>
                      <ul class="menu-list">
                        <li><a>Dashboard</a></li>
                        <li><a>Customers</a></li>
                      </ul>
                      <p class="menu-label">
                        Administration
                      </p>
                      <ul class="menu-list">
                        <li><a>Team Settings</a></li>
                        <li>
                          <a class="is-active">Manage Your Team</a>
                          <ul>
                            <li><a>Members</a></li>
                            <li><a>Plugins</a></li>
                            <li><a>Add a member</a></li>
                          </ul>
                        </li>
                        <li><a>Invitations</a></li>
                        <li><a>Cloud Storage Environment Settings</a></li>
                        <li><a>Authentication</a></li>
                      </ul>
                      <p class="menu-label">
                        Transactions
                      </p>
                      <ul class="menu-list">
                        <li><a>Payments</a></li>
                        <li><a>Transfers</a></li>
                        <li><a>Balance</a></li>
                      </ul>
                    </aside>
                </div>
                 <div class="column is-8" style="margin-left:10px;">
                   <div class="container">
                     <div class="notification is-8">
                            <div class="tile is-ancestor">
                                    <div class="tile is-vertical is-10">
                                      <div class="tile">
                                        <div class="tile is-parent is-vertical">
                                          <article class="tile is-child notification is-primary">
                                            <p class="title">Vertical...</p>
                                            <p class="subtitle">Top tile</p>
                                          </article>
                                          <article class="tile is-child notification is-warning">
                                            <p class="title">...tiles</p>
                                            <p class="subtitle">Bottom tile</p>
                                          </article>
                                        </div>
                                        <div class="tile is-parent">
                                          <article class="tile is-child notification is-info">
                                            <p class="title">Middle tile</p>
                                            <p class="subtitle">With an image</p>
                                            <figure class="image is-4by3">
                                              <img src="https://bulma.io/images/placeholders/640x480.png">
                                            </figure>
                                          </article>
                                        </div>
                                      </div>
                                      <div class="tile is-parent">
                                        <article class="tile is-child notification is-danger">
                                          <p class="title">Wide tile</p>
                                          <p class="subtitle">Aligned with the right tile</p>
                                          <div class="content">
                                            <!-- Content -->
                                          </div>
                                        </article>
                                      </div>
                                    </div>
                                   
                                  </div>
                     </div>
                   </div>

                 </div>
                 <div class="column is-2">
                     
                 </div>
                 
          </div>
        </div>
      </section>
    </body>
</html>