<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <style>
        body {
            min-height: 120%;
        }
    </style>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-pulled-right">
                    Primary title
                </h1>
                <h2 class="subtitle">
                    Primary subtitle
                </h2>
            </div>
        </div>
    </section>
    <br>

    <section class="section">
        <div class="container">
            <h1 class="title">Section</h1>
            <h2 class="subtitle">
                A simple container to divide your page into <strong>sections</strong>, like the one you're currently
                reading
            </h2>
        </div>
    </section>
    <section class="body">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    <p class="title">One <img src="https://bulma.io/images/placeholders/32x32.png" alt="" class="is-rounded"></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
                        tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
                <div class="tile is-child box">
                    <p class="title">Two</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
                        tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <p class="title">EPL LEAGUE RANKING</p>
                    <table class="table is-striped">
                            <thead>
                                    <tr>
                                      <th><abbr title="Position">Pos</abbr></th>
                                      <th>Team</th>
                                      <th><abbr title="Played">Pld</abbr></th>
                                      <th><abbr title="Won">W</abbr></th>
                                      <th><abbr title="Drawn">D</abbr></th>
                                      <th><abbr title="Lost">L</abbr></th>
                                      <th><abbr title="Goals for">GF</abbr></th>
                                      <th><abbr title="Goals against">GA</abbr></th>
                                      <th><abbr title="Goal difference">GD</abbr></th>
                                      <th><abbr title="Points">Pts</abbr></th>
                                      <th>Qualification or relegation</th>
                                    </tr>
                                  </thead>
                                  <tfoot>
                                        <tr>
                                          <th><abbr title="Position">Pos</abbr></th>
                                          <th>Team</th>
                                          <th><abbr title="Played">Pld</abbr></th>
                                          <th><abbr title="Won">W</abbr></th>
                                          <th><abbr title="Drawn">D</abbr></th>
                                          <th><abbr title="Lost">L</abbr></th>
                                          <th><abbr title="Goals for">GF</abbr></th>
                                          <th><abbr title="Goals against">GA</abbr></th>
                                          <th><abbr title="Goal difference">GD</abbr></th>
                                          <th><abbr title="Points">Pts</abbr></th>
                                          <th>Qualification or relegation</th>
                                        </tr>
                                      </tfoot>
                                      <tbody>
                                        <tr>
                                          <th>1</th>
                                          <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                                          </td>
                                          <td>38</td>
                                          <td>23</td>
                                          <td>12</td>
                                          <td>3</td>
                                          <td>68</td>
                                          <td>36</td>
                                          <td>+32</td>
                                          <td>81</td>
                                          <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>
                                        </tr>
                                        <tr>
                                          <th>2</th>
                                          <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a></td>
                                          <td>38</td>
                                          <td>20</td>
                                          <td>11</td>
                                          <td>7</td>
                                          <td>65</td>
                                          <td>36</td>
                                          <td>+29</td>
                                          <td>71</td>
                                          <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>
                                        </tr>
                                        <tr>
                                          <th>3</th>
                                          <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
                                          <td>38</td>
                                          <td>19</td>
                                          <td>13</td>
                                          <td>6</td>
                                          <td>69</td>
                                          <td>35</td>
                                          <td>+34</td>
                                          <td>70</td>
                                          <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>
                                        </tr>
                                        <tr class="is-selected">
                                          <th>4</th>
                                          <td><a href="https://en.wikipedia.org/wiki/Manchester_City_F.C." title="Manchester City F.C.">Manchester City</a></td>
                                          <td>38</td>
                                          <td>19</td>
                                          <td>9</td>
                                          <td>10</td>
                                          <td>71</td>
                                          <td>41</td>
                                          <td>+30</td>
                                          <td>66</td>
                                          <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Play-off_round" title="2016–17 UEFA Champions League">Champions League play-off round</a></td>
                                        </tr>
                                        <tr>
                                          <th>5</th>
                                          <td><a href="https://en.wikipedia.org/wiki/Manchester_United_F.C." title="Manchester United F.C.">Manchester United</a></td>
                                          <td>38</td>
                                          <td>19</td>
                                          <td>9</td>
                                          <td>10</td>
                                          <td>49</td>
                                          <td>35</td>
                                          <td>+14</td>
                                          <td>66</td>
                                          <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage" title="2016–17 UEFA Europa League">Europa League group stage</a></td>
                                        </tr>
                                        <tr class="is-selected">
                                          <th>6</th>
                                          <td><a href="https://en.wikipedia.org/wiki/Southampton_F.C." title="Southampton F.C.">Southampton</a></td>
                                          <td>38</td>
                                          <td>18</td>
                                          <td>9</td>
                                          <td>11</td>
                                          <td>59</td>
                                          <td>41</td>
                                          <td>+18</td>
                                          <td>63</td>
                                          <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage" title="2016–17 UEFA Europa League">Europa League group stage</a></td>
                                        </tr>
                                        <tr>
                                          <th>7</th>
                                          <td><a href="https://en.wikipedia.org/wiki/West_Ham_United_F.C." title="West Ham United F.C.">West Ham United</a></td>
                                          <td>38</td>
                                          <td>16</td>
                                          <td>14</td>
                                          <td>8</td>
                                          <td>65</td>
                                          <td>51</td>
                                          <td>+14</td>
                                          <td>62</td>
                                          <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Third_qualifying_round" title="2016–17 UEFA Europa League">Europa League third qualifying round</a></td>
                                        </tr>

                    </table>

                </div>
            </div>
        </div>



    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
</body>

</html>