<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
   <style>
  
   </style>
</head>

<body>


   <br>
   <div>

              <div class="columns">
                <div class="column is-four-fifths has-background-primary">is-four-fifths</div>
                <div class="column">Auto</div>
                <div class="column">Auto</div>
              </div>

              <div class="columns">
                    <div class="column is-three-quarters has-background-primary">is-three-quarters</div>
                    <div class="column">Auto</div>
                    <div class="column">Auto</div>
                  </div>

                  <div class="columns">
                        <div class="column is-three-fifths">is-three-fifths</div>
                        <div class="column">Auto</div>
                        <div class="column">Auto</div>
                      </div>

                      <div class="columns">
                            <div class="column is-half">is-half</div>
                            <div class="column">Auto</div>
                            <div class="column">Auto</div>
                          </div>
                      
   </div>
</body>

</html>